<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with back icon"
    [routerLink]="['/category',{category:selectedCategory}]">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span>Go back</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    color="primary" [matBadge]="cartData?.length" matBadgePosition="above after" matBadgeColor="accent"
    routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card *ngIf="productDetails != null">
        <mat-card-header>
          <mat-card-title>{{productDetails?.title}}</mat-card-title>
          <mat-card-subtitle>
            <p>Price :- {{productDetails?.price }} INR/-</p>
            <p>Rating(rate/count) :- {{productDetails?.rating?.rate}}/{{productDetails?.rating?.count}} </p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
              <img mat-card-image [src]="productDetails?.image" alt="Photo of a Shiba Inu">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
              <p>
                {{productDetails?.description}}
              </p>
              <p>
                Category :- {{productDetails?.category}}
              </p>
              <button mat-button (click)="addToCart()">Add to Cart</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
